.Head-Div {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  height: 100vh; /* Full viewport height */
}

#Change-Btn {
  padding: 10px 200px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border: 3px solid blue;
  border-radius: 5px; /* Optional: Rounded corners */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* X-offset | Y-offset | Blur | Color */
}

h1 {
  text-shadow: -2px -2px 4px rgba(0, 0, 0, 0.5);
  color: white;

  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* X-offset | Y-offset | Blur | Color */
}
